/*
-----------------------------------------------
Wikka Default Stylesheet (screen)
----------------------------------------------- */

/* global styling */

.searchbox {
	border: 1px solid #CCCCAA;
	padding: 0px;
	margin: 0px;
}

input.grabcode {
	float: right;
	margin-right: 20px;
	margin-top: 0px;
	font-size: 90%;
}

input.highlight {
	font-weight: normal;
	background-color: #FCC;
	color: #000;
}

.header {
	margin-left: 5px;
	padding: 5px 10px;
	padding-top: 0px;
}

.header a:hover {
	background: transparent;
	border-bottom: 0px;
}

.page {
	color: #000;
	background-color: #fff;
	padding: 10px;
	border: 1px #ddd solid;
	height: 100%;
}

.page a {
	color: #9c0204;
	text-decoration: none;
}

.page a:hover {
	color: #9c0204;
	text-decoration: underline;
}

.pagefooter {
	clear: both;
	padding: 5px 10px;
}

.commentsheader {
	clear: both;
	background-color: #eee;
	padding: 2px 10px;
	border: 1px solid #ddd;
	border-top: none;
}

.comment {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	border-top: none;
}

.commentinfo {
	color: #AAAAAA;
}

.commentform {
	background-color: #eee;
	padding: 10px;
	border: 1px solid #ddd;
	border-top: none;
}

img {
	border: 0px;
}

img.centre {
	display: block; 
	text-align: center; 
	margin: 5px auto;
}

img.center {
	display: block; 
	text-align: center; 
	margin: 5px auto;
}

img.left {
	margin: 5px 5px 5px -5px;
	float: left;
}

img.right {
	margin: 5px -5px 5px 5px; 
	float: right;
}

/* Action-related styling */

/* Table action */

table.wikka {
	border: 2px solid #CCC;
	border-collapse: collapse;
	border-spacing: 0;
}

table.wikka td {
	border: 1px solid #CCC;
	padding: .1em .25em;
}

/* Lastedit action */
.lastedit {
	border:dotted 1px;
	padding:3pt;
	margin:8pt; color:#888;
	font-size:8pt;
	width:30%;
}

.lastedit_notes {
	color: #888800;
}

/* TextSearch & TextSearchExpanded Actions*/
.tse_keywords {
	font-weight: bold;
	color: green;
	background-color: white;
}

/* Calendar Action */

/* general styling */
table.calendar {
	color: #000000;
	background-color: #CCCCCC;				/* comment out to have space between cells same color as page background */
	/*border-collapse: collapse;*/			/* would make single-width borders, ignoring cell-spacing */
}
table.calendar caption {
	background-color: #CCCCCC;
	font-weight: bold;
	line-height: 1.6em;
}
table.calendar thead {
	background-color: #CCCCCC;
}
table.calendar tbody.face {
	background-color: #CCCCCC;
}
table.calendar tbody.calnav {
	background-color: #CCCCCC;
}
/* styling for some specific elements */
table.calendar thead th {
	/*border: 1px solid #000000;*/			/* uncomment to have border around day name headers (will be page background if table background is undefined) */
	padding: 1px;
	text-align: center;
	font-size: 85%;
	width: 26px;
}
table.calendar tbody.face td {
	border: 1px solid #000000;
	text-align: right;
}
table.calendar td.currentday {
	color: #993333;
	background-color: #AAAAAA;
	font-weight: bold;
}
/* styling of calendar navigation */
table.calendar tbody.calnav {
	font-weight: bold;
}
table.calendar td.prevmonth {
	text-align: left;
	font-size: 85%;
}
table.calendar td.curmonth {
	text-align: center;
}
table.calendar td.nextmonth {
	text-align: right;
	font-size: 85%;
}
table.calendar a:link {
	color: #993333;
	text-decoration: none;
}
table.calendar a:visited {
	color: #993333;
	text-decoration: none;
}
table.calendar a:hover {
	color: #993333;
}
table.calendar a:active {
	color: #993333;
	text-decoration: none;
}

/* Usersettings action */
table.usersettings {
}

/* Handler-related styling */

/* Acls handler */
table.acls {
}

/* system information */

.missingpage {
	/* background: #ccffff; */
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-color: #933;
	border-bottom-style: dashed;
}

em.error {
	color: #AA3333; 
	font-style: normal;
	font-weight: bold;
	font-size: 95%;
}

em.success {
	color: #33AA33; 
	font-style: normal;
	font-weight: bold;
	font-size: 95%;
}

.comments {display: none;}

.revisioninfo {
	color: #AAAAAA;
	padding-bottom: 20px;
}

.copyright {
	font-size: 11px;
	color: #AAAAAA;
	text-align: right;
}

.copyright a {
	color: #AAAAAA;
}

.previewhead {
	margin: auto;
	z-index:20;
	position:fixed;
	top: 40px;
	left: 10px;
	color: red;
	font-size: xx-large;
	font-weight: bold;
	padding: 5px;
}

.additions {background-color: #ccffcc;}

.deletions {background-color: #EFA4A4;}

.recentchanges { }

.pagenote {color: #888;}

.smaller {font-size: smaller;}

.smallprint {font-size: 0.9em; color: #777; }

.smallprint a {
	color: #987;
}

/* floats */

.floatl {
	float: left;
	text-align: left;
	width: 46%;
	margin-right: 15px;
	padding: 4px;
	background: #eee;
	border: 1px solid #ddd; 		
}

.floatr {
	float: right;
	text-align: left;
	width: 46%;
	margin-left: 15px;
	padding: 4px;
	background: #eee;
	border: 1px solid #ddd; 		
}

.clear {clear:both;}

/* text formatting */

h5 {
	margin-top: 2px;
	font-size: 10pt;
}

h4 {
	margin-top: 2px;
	font-size: 12pt;
}

h3 {
	margin-top: 2px;
	font-size: 14pt;
}

h2 {
	margin-top: 2px;
	font-size: 16pt;
}

h1 {
	margin-top: 2px;
	font-size: 18pt;
}

.highlight {color: red; background: #FFFFD0;}

.strikethrough {color: #888; text-decoration: line-through;}

.underline {text-decoration: underline;}

.indent {
	margin-left: 40px;
}

.notes {
	color: #9c0204;
}

.centre {text-align: center;}

.center, .center p {text-align: center;}

.keys {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFF;
	font-weight: bold;
	background-color: #33A;
	border-top: 2px solid #FFF;
	border-left: 2px solid #FFF;
	border-right: 2px solid #336;
	border-bottom: 2px solid #336;
	text-align: center;
	padding: 0.1em 0.3em;
	line-height: 1.6em;
	vertical-align: top;
}

.keys:hover {
	background-color: #66C;
	border-right: 2px solid #668;
	border-bottom: 2px solid #668;
}

acronym {
	border-bottom: 1px dotted #333;
	cursor: help;
}

abbr {
	border-bottom: 1px dotted #333;
	cursor: help;
}

blockquote {
	font-size: 90%;
}

/* code blocks */


.code_header {
	color: #9c0204;
	background: #ddd;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 6px 3px 6px 3px;
	width: 95%;
	margin: 0 0 0 0;
	text-align: left;
}

.code {
	color: black;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
	width: 95%;
	margin: auto;
	padding: 6px 3px 13px 3px;	/* padding-bottom solves hor. scrollbar hiding single line of code in IE6 but causes vert. scrollbar... */
	text-align: left;			/* override justify on body */
	overflow: auto;				/* allow scroll bar in case of long lines - goes together with white-space: nowrap! */
	white-space: nowrap;		/* prevent line wrapping */
}

.code pre {
	margin-top: 6px;
	margin-bottom: 6px;			/* prevent vertical scroll bar in case of overflow */
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
}

/* 3rdparty-code related styling */

/* syntax highlighting code - GeSHi */
.code ol {
	margin-top: 6px;
	margin-bottom: 6px;			/* prevent vertical scroll bar in case of overflow */
}
.code li {
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
}
.code .br0	{ color: #66cc66; }
.code .co1	{ color: #808080; font-style: italic; }
.code .co2	{ color: #808080; font-style: italic; }
.code .coMULTI	{ color: #808080; font-style: italic; }
.code .es0	{ color: #000099; font-weight: bold; }
.code .kw1	{ color: #b1b100; }
.code .kw2	{ color: #000000; font-weight: bold; }
.code .kw3	{ color: #000066; }
.code .kw4	{ color: #993333; }
.code .kw5	{ color: #0000ff; }
.code .me0	{ color: #006600; }
.code .nu0	{ color: #cc66cc; }
.code .re0	{ color: #0000ff; }
.code .re1	{ color: #0000ff; }
.code .re2	{ color: #0000ff; }
.code .re4	{ color: #009999; }
.code .sc0	{ color: #00bbdd; }
.code .sc1	{ color: #ddbb00; }
.code .sc2	{ color: #009900; }
.code .st0	{ color: #ff0000; }

/* wikiedit */

.toolbar tr { background: ButtonFace; }
.toolbar .btn-, .toolbar  .btn-hover,  .toolbar .btn-active,
.toolbar .btn-pressed {
	background: ButtonFace;
	color: ButtonText;
	border: 1px solid ButtonFace;
	padding: 1px;
	margin: 0px;
	cursor: pointer;
}
.toolbar .btn- img  { width: 20px; height: 20px; }
.toolbar .btn-hover { border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; }
.toolbar .btn-active,
.toolbar .btn-pressed { border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow; }
.toolbar .btn-pressed { background: ButtonHighlight; }
.editornamecss { background-color:#CCCCFF; font-size: 18px; padding: 0 10px; }

form, h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
}

a.ext {
	color: #9c0204;
}

a.ext:hover {
	color: #9c0204;
}

.exttail {
	color: #999;
	position: relative;
	bottom: 0.5ex;
}

ul, ol {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul.thread {
	list-style-type: none;
	border-left: 2px #666 solid;
	padding-left: 10px;
	margin: 5px 0px;
}

ul.thread li {
	color: #333;
	font-size: 11px;
}

/*
input[type=submit], input[type=button] {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 1px;
	width: auto;
	font-size: 9pt;
	color:#fff;
	font-weight: bold;
	background-color: #33A;
	border-right: 2px solid #336;
	border-bottom: 2px solid #336;
}
input[type=submit]:hover, input[type=button]:hover {
	background-color: #66C;
	border-right: 2px solid #668;
	border-bottom: 2px solid #668;
}
*/

textarea#body{
	width: 100%;
	height: 500px;
	padding: 2px;
}

/* sidenote.css */
/* Contains css for tip, note and warn actions. */

/* postit note-style information box */
#note {
		clear: both;
		font-size: 10pt;
		float: left;
		width: 200px;
		border: 1px solid #AAAAAA;
		margin: 15px 10px 0px 0px;
		padding: 0px;
		background-color: #FFF900;
		text-align: justify;
		vertical-align: top;
}

#note hr {
		height: 1px;
		border: 1px solid #AAAAAA;
		width: 100%;
}

#note .title {
		text-align: center;
		font-weight: bold;
		background-color: #EEE800;
		border-bottom: 1px solid #AAAAAA;
		color: #000000;
}

#note #text {
		padding: 4px;
		color: #000000;
}

/* tip information box */
#tip {
		clear: both;
		font-size: 10pt;
		float: left;
		width: 200px;
		border: 1px solid #AAAAAA;
		margin: 15px 10px 0px 0px;
		padding: 0px;
		background-color: #FFFFFF;
		text-align: justify;
		vertical-align: top;
}

#tip hr {
		height: 1px;
		border: 1px solid #AAAAAA;
		width: 100%;
}

#tip .title {
		text-align: center;
		font-weight: bold;
		background-color: #EFEFEF;
		border-bottom: 1px solid #AAAAAA;
		color: #000000;
}

#tip #text {
		padding: 4px;
		color: #000000;
}

/* warning information box */
#warn {
		clear: both;
		font-size: 10pt;
		float: left;
		width: 200px;
		border: 1px solid #AAAAAA;
		margin: 15px 10px 0px 0px;
		padding: 0px;
		background-color: #FFAAAA;
		text-align: justify;
		vertical-align: top;
}

#warn hr {
		height: 1px;
		border: 1px solid #AAAAAA;
		width: 100%;
}

#warn .title {
		color: #FFFFFF;
		text-align: center;
		font-weight: bold;
		background-color: #FF0000;
		border-bottom: 1px solid #AAAAAA;
}

#warn #text {
		padding: 4px;
		color: #000000;
}